*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.cet button{
    width: 95%;
    height: 65px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px 10px 5px 0;
    font-size: 18px;
    padding-top: 20px;
    border: 1px solid #f7f7f8;
    background-color: #f7f7f8 !important;
}
.header{
    margin: 15px 0; 
}

.hi{
    width: 100%;
    border: 1px solid #64b496;
    text-decoration: none;
    border-radius: 5px;
}

.hi input{
    width: 75%;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
    border-right: 1px solid #64b496 !important;
    font-size: 15px;
}

.hicon{
    background-color:#64b496;
    padding: 7px 11px 7px 11px;
    color: white;
}

.hd span{
    color: #000000;
    margin-right: 10px;
    font-size: 18px;
}
.hd span:hover{
    color: #64b496;
}

.header2 .h2i{
    font-size: 22px;
}
.header2 .h2div div{
    margin: 0 10px;
}


.cet button:hover{
    color: #64b496;
}

.picm{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    justify-content: center;
}

.ih{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.price{
    font-size: 18px;
    color: #64b496;
    font-weight: 700;
}

.rprice{
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
    color: grey;
}

.btncenter{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: -120px;
}

.tn{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 26px;
}

.btncenter button{
    padding: 0 10px 0 10px;
    height: 35px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: #64b496;
    border: 1px solid #64b496;
}

.btncolour{
    color: #64b496;
    text-decoration: underline;
    font-weight: 600;
    margin: 5px;
}

.ut{
    font-size: 22px;
    font-weight: 600;
}

.big{
    font-size: 55px;
    font-weight: 700;
}
.carousel-caption{
    position: absolute;
    top : 25%;
    left: 50px;
}

.opa img:hover{
    opacity: 75%;
}

.sec3{
    top: 60px;
    left: 25px;
}
.sec3 button{
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #64b496;
    color: white;
    font-weight: 500;
    height: 35px;
    border: 1px solid #64b496;
}

.sec3 h5{
    font-weight: 600;
}

.sec3 p{
    color: grey !important;
}
.sec3 p span{
    font-size: 20px;
    font-weight: 600;
}

.cs{
    background-color: #f7f7f8;
    margin: 1px;
}
.cs span{
    color: #64b496;
    font-size: 50px;
}

.sec4main{
    background-image: url("https://maraviyainfotech.com/projects/carrot/carrot-v2/carrot-html/assets/img/deal/bg-deal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
.sec4{
    width: 100%;
}
 
.watch{
    background: #ffffff38;
    padding: 25px;
    margin-top: 200px;
}

.watch h6 span{
    font-size: 24px;
    font-weight:600;
    color: #64b496;
    margin-right: 10px;
}

.watch h3{
    font-weight: 600;
    margin: 15px 0;
}

.watch p{
    font-size: 14px;
    color: #777777;
    margin: 15px 0;
}






.swiper {
    padding: 20px 0;
    width: 100%;
    max-width: 1280px;
    height: 400px;
    margin-top: 40px;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seci img{
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
.star{
    color: #f5885f;
}
.sec6i{
    width: 100%;
    height: 100%;
}
.testi{
    border: 1px solid grey;
    background-color: #f7f7f8;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin: 5px;
}
.testi img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 40%;
}
.testi p{
    font-size: 15px;
    line-height: 20px !important;
    color: #777777;
}

.sec7 h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.sec7 p{
    font-size: 15px;
    color: #777777;
    line-height: 5px;
}



.sec5swip span{
    color: #777777;
    font-size: 16px;
    font-weight: 500;
}

.sec5swip span p{
    font-weight: 300;
    margin-left: 5px;
}
.sec5swip h5{
    font-weight: 600;
}
.sec5swip a{
    font-size: 15px;
    font-weight: 500;
    color: #64b496;
    list-style: none;
    text-decoration: none;
}
.card img:hover{
    opacity: 75%;
    transition: all 0.6s ease-in-out;
}

.sec5-1 p{
    line-height: 5px;
    font-size: 15px;
    color: #777777;
}
.footer{
    background-color: #f7f7f8;
    color: #777777;
    padding: 60px 0 20px 0;
    border: 2px solid #f7f7f8;
}

.footercol span{
    font-size: 22px;
    color: #64b496;
}
.footercol h6{
    font-size: 15px;
    font-weight: 400;
}
.footercol span p{
    color: #777777;
    font-size: 18px;
    margin-left: 10px;
}
.footercol span p:hover{
    color: #64b496;
}

.footercol2 span a{
    text-decoration: none;
    color: #777777;
    line-height: 35px;
}
.footercol2 span a:hover{
    color: #64b496;
}
.fc{
    color: #000000;
}
.fi{
    padding: 5px 20px 5px 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0;
}

.soc span{
    font-size: 21px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px;
    background-color: white;
}
.soc span a{
    color: #000000;
}
.soc span a:hover{
    color: #64b496;
}
.fimg img{
    display: block;
    width: 75px;
    margin: 5px;
    border-radius: 5px;
}
.fimg img:hover{
    opacity: 55%;
}

.footer .flex{
    color: #000000;
}
.footer .flex span{
    color: #64b496;
}